{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block body_title %}

<!-- Imagem logotipo da empresa -->
<img src='{% static "reusable.png" %}' width="220px">
<style>
</style>
{% endblock %}

{% block body_content %}
<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/members">MEMBERS</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}